.toggle-switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 20px;
  /* margin-right: 15%; */
  margin: 0 auto;
}

.checkbox {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ccc; */
  background-color: darkgray;
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.checkbox:checked + .slider {
  background-color: #112e51;
}

.checkbox:checked + .slider:before {
  transform: translateX(30px);
}

@media screen and (max-width: 500px) {
  .slider {
    width: 35px;
    height: 20px;
  }

  .slider:before {
    width: 14px;
    height: 14px;
  }

  .checkbox:checked + .slider:before {
    transform: translateX(15px);
  }

  .checkbox:checked + .slider {
    background-color: #112e51;
  }
}
