.room-div-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
  flex: 1;
}

.room-div {
  break-inside: avoid;
  margin: 0.5rem;
  flex: 1;
  max-width: 300px;
}

.total-appts-div {
  border-bottom: black solid 2px;
  max-width: fit-content;
  min-width: 0;
  margin: 2px 0px;
  font-size: 75%;
  white-space: nowrap;
}

.busy-times > * {
  font-size: 85%;
  text-wrap: wrap;
}

.provider-div {
  display: flex;
  flex-direction: column;
}

.font-slider {
  margin: 0.4rem;
}
