.room-div-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.room-div {
  margin: 20px;
  width: 40%;
  break-inside: avoid;
  margin-top: 40px;
}

.total-appts-div {
  border-bottom: black solid 2px;
  max-width: fit-content;
  margin-bottom: 10px;
  font-size: 0.85em;
}

.busy-times {
  font-size: 0.8em;
}

.provider-div {
  display: flex;
  flex-direction: column;
}

.font-slider {
  margin: 0.4em;
}
