@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
body {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}
select {
  font-size: 0.7rem;
  width: 120px;
}
.wrapper {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  border: #112e51 solid 15px;
  border-bottom: 0;
  width: 100vw;
  max-width: 1024px;
  min-height: 100vh;
  background-color: white;
}

.firm-div > * {
  font-size: 0.7rem;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: flex-end;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 30vw;
  min-width: 200px;
  gap: 5px;
}

.btn-wrapper * {
  font-size: 0.7rem;
}

.team-submit-container > * {
  font-size: 0.7rem;
}

.checkbox-div {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  margin: 20px 0 20px 0;
}

.checkbox-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-div-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.room-div {
  margin: 20px;
  width: 40%;
}

.provider-div {
  display: flex;
  flex-direction: column;
}

.total-appts-div {
  border-bottom: black solid 2px;
  max-width: fit-content;
  margin-bottom: 10px;
}

.busy-times *,
.busy-times {
  font-size: 14px;
}

.current-schedule div {
  font-size: 15px;
}

.schedule-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.collapsible {
  cursor: pointer;
  display: flex;
  transition: background-color 0.2s ease;
  padding: 5px;
  width: max-content;
  border-radius: 20px;
  background-color: inherit;
}

.collapsible-content button {
  font-size: 0.7rem;
  margin: 0 10px 5px 0px;
  padding: 3px;
}

.collapsible:hover {
  background-color: #112e51;
  color: white;
  border-radius: 15px;
}

.collapsible-content {
  padding-left: 15px;
}

/* .submit-btn {
} */

.test-btn {
  font-size: 0.4rem;
  float: right;
}

.room-btns button,
.algo-btns button {
  width: 30px;
  border: none;
  background-color: #112e51;
  color: white;
  margin: 0 10px 0 10px;
  border-radius: 10px;
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #112e51;
  height: 25px;
  color: white;
  text-align: left;
  font-size: 0.6rem;
  margin-left: -10px;
}

.sliding-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
  border-left: #112e51 solid 5px;
}

.sliding-panel.open {
  transform: translateX(0);
  overflow-y: scroll;
}

.toggle-button {
  margin: 10px;
}

.panel-content {
  padding: 20px;
}

.panel-content * {
  font-size: 0.65rem;
}

.panel-title {
  margin-top: 40px;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
}

.collapsible-panel {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0;
}

.collapsible-panel.open {
  height: 200px; /* Set the desired height when open */
}

.collapsible-toggle-button {
  margin: 10px;
}

.collapsible-panel-content {
  padding: 20px;
}

.sliding-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #112e51;
  color: white;
  border-radius: 0 0 0 10px;
  padding: 0 0 5px 10px;
  font-size: 0.7rem;
}
