*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkbox-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 10vh;
  max-width: 500px;
  background-color: lightgray;
}
